
/* colors */
#Preview {background:linear-gradient(to bottom left,white 75%,#dee 85%,#9aa);box-shadow:-1px -1px 1px lightgray}
#Warning {color:#a00}
@media (prefers-color-scheme: dark) {
    #Preview {background:linear-gradient(to bottom right,#222 75%,#244 85%,#9aa);box-shadow:-1px -1px 1px #555}
    #Warning {color:#a22}
}

/* layout */
[level="0"]>.frame {
    width:100%;
    height:100%;
    display:grid;
    grid-template-areas: "lt rt" "bottom bottom";
    grid-auto-rows: auto min-content;
    grid-template-columns: 1fr 1fr;
}

#Preview {padding:5px;grid-area:lt}

#UINL {grid-area:rt;display:flex;flex-direction:column}
/* #UINL>.title {flex: 0 1 auto;} */
#UINL>.frame {font-size:13pt;display:flex;flex-direction: column;}
#UINLcode {flex: 1 1 auto;}
#UINLcode>.content {height:100% !important}

[id="Add Component"] {grid-area:bottom}

#Warning {text-align:right}
#Warning * {display:inline}